attic
.backup/*
backup_modules/*
bin/
cache_stats/*
*.ckpt
compiler.mk
config.mk
.cproject
*.craff
doc/*
documentation.html
GNUmakefile
linux64/*
*.log
.modcache
.nfs*
*.o
*.old
*_old
*.out
patchelf-0.10.tar.gz
.project
.project-properties/*
*/__pycache__/*
.settings/*
simics
simics-eclipse
simics-gui
*.so
*.state/*
*.swp
*.tar
targets/*
.vscode
