**/__pycache__
*.ckpt
*.craff
*.log
*.o
*.old
*.out
*.so
*.state/*
*.swp
*.tar
*/__pycache__/*
*_old
.backup/*
.cproject
.github/workflows/modified_folders.txt
.modcache
.nfs*
.project
.project-properties/*
.settings/*
.vscode
GNUmakefile
attic
backup_modules/*
bin/
buildroot/*
cache_stats/*
compile_commands.json
compiler.mk
config.mk
doc/doxygen
documentation
documentation.html
edk2_src/Build/*
edk2_src/Conf/*
edk2_src/edk2_buildroot
edk2_src/images/*
edk2_src/log
edk2_src/logs/**/*
lib
linux/linux-headers-*.deb
linux/linux-image-*.deb
linux/linux-libc-dev_*.deb
linux/linux-upstream_*.buildinfo
linux/linux-upstream_*.changes
linux/linux-upstream_*.diff.gz
linux/linux-upstream_*.orig.tar.gz
linux/linux.tar.gz
linux64/*
logs/*
patchelf-0.10.tar.gz
python_tests/__init__.pyc
scripts/docker/c3_docker.key
scripts/docker/c3_docker.key.pub
simics
simics-eclipse
simics-gui
simics-install/*
targets/*

!internal/spec/**/*.out
