attic
.backup/*
backup_modules/*
bin/
cache_stats/*
*.ckpt
compiler.mk
config.mk
.cproject
*.craff
doc/*
documentation.html
GNUmakefile
linux64/*
*.log
.modcache
.nfs*
*.o
*.old
*_old
*.out
patchelf-0.10.tar.gz
.project
.project-properties/*
*/__pycache__/*
.settings/*
simics
simics-eclipse
simics-gui
*.so
*.state/*
*.swp
*.tar
targets/*
.vscode
documentation
python_tests/__init__.pyc
simics-install/*
logs/*
.github/workflows/modified_folders.txt
!internal/spec/**/*.out
compile_commands.json
linux/linux.tar.gz
lib
edk2_src/Build/*
edk2_src/Conf/*
edk2_src/images/*
edk2_src/logs/**/*
linux/linux-image-*.deb
linux/linux-headers-*.deb
linux/linux-libc-dev_*.deb
linux/linux-upstream_*.diff.gz
linux/linux-upstream_*.buildinfo
linux/linux-upstream_*.changes
linux/linux-upstream_*.orig.tar.gz
scripts/docker/c3_docker.key
scripts/docker/c3_docker.key.pub
buildroot/*
